:root {
  /*Main site colors*/
  --site-primary-color: #f2f2f2;
  --site-secondary-color: #333;
  --site-highlight-color: #ff982d;
  --site-background-color: #fafafa;

  --main-button-color: #333;

  /*Main font colors and sizes*/
  font-family: "Open Sans", sans-serif;
  --font-primary-color: #1d1d1f;
  --font-secondary-color: #161617;
  --font-white-color: #fff;

  --hero-font-size: 2.5rem;
  --title-font-size: 1.3rem;
  --main-font-size: 1rem;
  --detail-font-size: 0.8rem;
}

/*BODY*/

body {
  /*General properties*/
  background-color: var(--site-background-color);
}

/*HEADER*/
.site__header {
  /*General properties*/
  width: 100%;
  height: 20vh;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  /*Display*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.site__header--title {
  /*General properties*/
  font-size: var(--hero-font-size);
  color: var(--font-primary-color);
}

.site__header--nav {
  /*Display*/
  display: flex;
  gap: 2rem;
}

.site__header--nav a {
  /*General properties*/
  text-decoration: none;
  font-size: var(--main-font-size);
  font-weight: 500;
  min-height: 2.5rem;
  width: 6rem;
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
  border-radius: 1.2rem;
  color: var(--font-white-color);
  background-color: var(--site-highlight-color);
  /*Display*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.site__header--nav a:hover {
  /*General properties*/
  background-color: var(--site-secondary-color);
}

/*MAIN*/
#outlet {
  /*General properties*/
  width: 100vw;
  height: 80vh;
  padding: 1.5rem 1.5rem 2.5rem 1.5rem;
}
